OTLP_USERNAME=<oltp_username>
OTLP_PASSWORD=<oltp_password>
PYROSCOPE_USERNAME=<pyroscope_username>
PYROSCOPE_PASSWORD=<pyroscope_password>
GRAFANA_ADMIN_USER=<grafana_username>
GRAFANA_ADMIN_PASSWORD=<grafana_password>
GRAFANA_ROOT_URL=https://grafana.example.com
CONTAINER_PREFIX=<prefix>
